.Vid3{
    height: 0vw;

}
.autoVid{

    height: 48vw;
    
}

@media only screen and (max-width: 600px) {
    .autoVid{
            /* position: absolute; */
    width: 80vw;
    opacity: .5;
    height: 81vw;
    }
}